.croppie-container img {
    height: auto;
}


.field--editor + .trumbowyg {
    padding-top: 1.5rem;
    margin: var(--margin-form) 0;
}

.trumbowyg-editor ul > li {
    margin: 0 0 0.75rem 1rem !important;
    list-style: disc !important;
    text-decoration: unset !important;
    text-indent: unset !important;
}


div#mocha {
    position: fixed;
    width: 25vh;
    height: 50vw;
    right: 32px;
    bottom: 16px;
    resize: horizontal;
    z-index: 1000;

    margin: 0;
    padding: 1rem;
    overflow: auto;
    color: #555;
    background: white;
    border: 2px solid black;
}

div#mocha:before {
    content: "Mocha Test Area";
}

div#mocha ul {
    position: unset;
    font-size: 18px;
    margin: 0;
    color: #555;
    z-index: 1;
}
